model:
  target: lvdm.models.ddpm3d.LatentDiffusion
  params:
    linear_start: 0.00085
    linear_end: 0.012
    num_timesteps_cond: 1
    log_every_t: 200
    timesteps: 1000
    first_stage_key: video
    cond_stage_key: caption
    image_size:
    - 32
    - 32
    video_length: 16
    channels: 4
    cond_stage_trainable: false
    conditioning_key: crossattn
    scale_by_std: false
    scale_factor: 0.18215

    unet_config:
      target: lvdm.models.modules.openaimodel3d.UNetModel
      params:
        image_size: 32
        in_channels: 4
        out_channels: 4
        model_channels: 320
        attention_resolutions:
        - 4
        - 2
        - 1
        num_res_blocks: 2
        channel_mult:
        - 1
        - 2
        - 4
        - 4
        num_heads: 8
        transformer_depth: 1
        context_dim: 768
        use_checkpoint: true
        legacy: false
        kernel_size_t: 1
        padding_t: 0
        temporal_length: 16
        use_relative_position: true
        
    first_stage_config:
      target: lvdm.models.autoencoder.AutoencoderKL
      params:
        embed_dim: 4
        monitor: val/rec_loss
        ddconfig:
          double_z: true
          z_channels: 4
          resolution: 256
          in_channels: 3
          out_ch: 3
          ch: 128
          ch_mult:
          - 1
          - 2
          - 4
          - 4
          num_res_blocks: 2
          attn_resolutions: []
          dropout: 0.0
        lossconfig:
          target: torch.nn.Identity

    cond_stage_config:
      target: lvdm.models.modules.condition_modules.FrozenCLIPEmbedder